{% extends "base.html" %}
{% block body %}
<br>
<br>
<form action="/add_into_data" method="post">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" placeholder="Username" aria-label="Username" id="floatingUsername" name=empname required>
        <label for="floatingUsername">Employee Name</label>
    </div>
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name=email required>
        <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name=password required>
        <label for="floatingPassword">Password</label>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}